/* gradient orange to purple: 
background: rgb(252,176,69);
background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,180,1) 100%); */
/* orange to lilac:
background: rgb(251,139,36);
background: linear-gradient(90deg, rgba(251,139,36,1) 0%, rgba(255,112,195,1) 50%, rgba(113,105,122,1) 100%); */

:root {
    --white: #F3F2F6;
    --black: #222222;
    --lilac: #833AB4;
    --orange: #FB8B24;
    --red: #FD1D1D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Nav bar */

.navbar {
    background: var(--white);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 .125rem .25rem rgba(34, 34, 34, .075);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

#navbar-logo {
    background: rgb(251, 139, 36);
    background: linear-gradient(90deg, rgba(251, 139, 36, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    height: 80px;
    padding: 0 10px;
}

.nav-links {
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(251, 139, 36);
    background: linear-gradient(90deg, rgba(251, 139, 36, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
    color: var(--white);
    transition: all 0.3s ease;
}

.nav-links:hover {
    color: var(--lilac);
    transition: all 0.3s ease;
}

@media screen and (max-width: 767px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        /* max-width: 1300px; */
        padding: 0;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .nav-menu.active {
        background: var(--white);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar-logo {
        padding-left: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--black);
    }

    .nav-item {
        width: 100%;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    /* .nav-btn {
        padding-bottom: 2rem;
    } */

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Home section */
.intro-container {
    background: var(--white);
    background: linear-gradient(to right, var(--white), #fff);
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
}

.intro-text {
    text-align: right;
    color: var(--black);
    margin-right: 15%;
    margin-top: 10%;
}

.intro-text h1 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

/* Cursor */
/* .txt-type>.txt {
    border-right: 5px solid var(--orange);
} */

.txt-type>.txt::after {
    content: "";
    width: 5px;
    height: 2.8rem;
    background: var(--orange);
    display: inline-block;
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}



.intro-text h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.tag-line {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.intro-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.intro-img img {
    height: 550px;
}

.name {
    font-size: 4rem;
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.pronounciation {
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

.highlight {
    border-bottom: 4px solid var(--lilac);
}

.vertical-text,
.text-or,
.download-cv-btn {
    display: inline-block;
}

.vertical-text {
    font-size: 1.2rem;
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    position: relative;
    padding-top: 2rem;
}

.text-or {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.2rem;
    position: relative;
    top: -80px;
}

.download-cv-btn {
    font-size: 1.2rem;
    background: rgb(251, 139, 36);
    background: linear-gradient(90deg, rgba(251, 139, 36, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: -80px;
    transition: all 0.35s;
    outline: none;
}

.download-cv-btn a {
    position: relative;
    z-index: 2;
    color: var(--white);
    text-decoration: none;
}

.download-cv-btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--lilac);
    transition: all 0.35s;
    border-radius: 4px;
}

.download-cv-btn:hover:after {
    width: 100%
}

/* For smaller screens */
@media screen and (max-width: 1089px) {
    .intro-container {
        padding: 32px;
    }

    .intro-text h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .intro-text h2 {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
    }

    .tag-line {
        font-size: 1rem;
    }

    .vertical-text {
        font-size: 0.8rem;
    }

    .name {
        font-size: 3rem;
    }

    .download-cv-btn {
        font-size: 1rem;
        background: rgb(251, 139, 36);
        background: linear-gradient(90deg, rgba(251, 139, 36, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
        padding: 12px 25px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        top: -80px;
        transition: all 0.35s;
        outline: none;
    }

    .intro-img img {
        height: 400px;
    }
}

@media screen and (max-width: 798px) {
    .intro-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .intro-text {
        margin: 0 auto;
    }

    .intro-img img {
        height: 300px;
        margin: 0 auto;
    }
}

/* Start of About Me section */
.about-me-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #fff;
    color: var(--black);
    border: 25px solid var(--white);
    padding: 2rem;
    margin: 0 auto;
    font-size: 1.2rem;
}

.about-me {
    margin-left: 3rem;
    text-align: justify;
}

.section-heading {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 2rem;
}

.about-intro {
    font-size: 1.2rem;
    padding: 2rem 0;
    font-weight: bold;
    text-transform: uppercase;
}

.about-me-container p {
    padding: 1rem 0;
    padding-top: 2rem;
    line-height: 2rem;
}

.interests-container {
    margin-left: 5rem;
    margin-top: 2rem;
}

.interests-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.interests-heading {
    font-size: 2rem;
    background: rgb(251, 139, 36);
    background: linear-gradient(90deg, rgba(251, 139, 36, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.interests {
    padding: 2rem;
    line-height: 1.75rem;
}

@media screen and (max-width: 798px) {
    .about-me-container {
        display: grid;
        grid-template-areas:
            "t t t t"
            "t t t t"
            "t t t t"
            "i i i i";
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .about-me {
        grid-area: t;
        margin: auto 1rem;
    }

    .interests-container {
        grid-area: i;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .interests-container img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .interests-with-head {
        margin: 0 auto;
    }

    .interests-heading,
    .interests {
        padding: 1rem;
    }

}

@media screen and (max-width: 598px) {
    .about-me-container {
        font-size: 0.8;
        border: 10px solid var(--white);
        padding: 5px;
    }

    .interests-container {
        display: flex;
        flex-direction: column;
    }

    .section-heading {
        font-size: 2rem;
    }
}

/* Skills section */
.skills {
    background-color: #fff;
    color: var(--black);
    border: 25px solid var(--white);
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.icon {
    height: 8rem;
    width: auto;
    background: var(--white);
    background: linear-gradient(to right, var(--white), #fff);
    border-radius: 11px;
    box-shadow: 0 3px 10px rgba(34, 34, 34, 0.6);
    padding: 1rem;
    margin: 1.5rem;
}

@media screen and (max-width: 979px) {
    .icon {
        height: 6rem;
        width: auto;
        margin: 0.75rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 726px) {
    .icon {
        height: 4rem;
        width: auto;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 598px) {
    .skills {
        border: 10px solid var(--white);
    }
}

@media screen and (max-width: 499px) {
    .icon {
        height: 2.75rem;
        width: auto;
        margin: 0.25rem;
    }
}

/* Projects section */
.projects {
    background-color: #fff;
    color: var(--black);
    border: 25px solid var(--white);
    padding: 1rem;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img {
    width: 80%;
    height: auto;
    border-radius: 4px;
}

.project-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-details {
    text-align: justify;
    line-height: 1.5rem;
}

.project-card {
    text-align: center;
    width: 40%;
    padding: 1rem;
    background: var(--white);
    background: linear-gradient(to right, var(--white), #fff);
    border-radius: 11px;
    box-shadow: 0 3px 10px rgba(34, 34, 34, 0.6);
    padding: 20px;
    margin: 2rem;
}

.project-button {
    background: rgb(251, 139, 36);
    background: linear-gradient(90deg, rgba(251, 139, 36, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin: 1rem;
    margin-bottom: 0;
}

.project-button a {
    position: relative;
    z-index: 2;
    color: var(--white);
    text-decoration: none;
}

.project-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--lilac);
    transition: all 0.35s;
    border-radius: 4px;
}

.project-button:hover:after {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .projects-container {
        flex-direction: column;
    }

    .project-card {
        width: 85%;
    }
}

/* Contact section */
.contact-me-section {
    background-color: #fff;
    color: var(--black);
    border: 25px solid var(--white);
    padding: 1rem;
}

.contact-me-section h2 {
    text-align: center;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-me-container {
    background: var(--white);
    background: linear-gradient(to right, var(--white), #fff);
    width: 85%;
    border-radius: 11px;
    padding: 20px 40px 20px 40px;
    box-shadow: 0 3px 10px rgba(34, 34, 34, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: 1rem;
}

.contact-form {
    width: 70%;
    margin-left: 50px;
}

.contact-form>form>input {
    display: block;
}

.phone-details,
.email-address,
.social-links {
    font-size: 1rem;
    margin: 2rem;
    text-align: center;
}

.email-address .fas,
.contact-content .fas,
.social-links .fab {
    font-size: 2rem;
    margin: 0.75rem;
    background: var(--black);
    background: linear-gradient(90deg, rgba(251, 139, 36, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.social-links .fab {
    cursor: pointer;
}

.contact-form {
    padding-top: 2rem;
}

.topic {
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.send-button {
    background: rgb(251, 139, 36);
    background: linear-gradient(90deg, rgba(251, 139, 36, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(131, 58, 180, 1) 100%);
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.75rem 3rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    margin: 1rem 0;
    color: var(--white);
    z-index: 5;
    display: block;
}

.send-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--lilac);
    transition: all 0.35s;
    border-radius: 4px;
    z-index: -1;
}

.send-button:hover:after {
    width: 100%;
}

.contact-form>form input,
.contact-form>form textarea {
    height: 2.5rem;
    width: 100%;
    margin: 1rem 0;
    border: none;
    border-radius: 4px;
    background-color: #f1eef9;
    font-size: 1rem;
    padding: 0 1rem;
    resize: none;
}

.contact-form>form textarea {
    height: 8rem;
}

@media screen and (max-width: 768px) {
    .contact-me-container {
        width: 95%;
        padding-right: 20px;
    }

    .phone-details,
    .email-address,
    .social-links {
        font-size: 0.8rem;
    }

    .email-address .fas,
    .contact-content .fas,
    .social-links .fab {
        font-size: 1.5rem;
    }

    .send-button {
        font-size: 1rem;
        padding: 0.5rem 2rem;
    }

    .contact-form>form input,
    .contact-form>form textarea {
        height: 2rem;
        font-size: 0.8rem;
    }

    .contact-form>form textarea {
        height: 8rem;
    }
}

@media screen and (max-width: 594px) {
    .contact-me-container {
        flex-direction: column-reverse;
        padding: 20px 0;
    }

    .contact-form {
        margin-left: 0;
        text-align: center;
    }

    .contact-details {
        flex-direction: row;
    }

    .phone-details,
    .social-links {
        margin: 0.5rem;
    }

    .email-address {
        margin: 0.5rem 1rem;
    }

    .send-button {
        display: inline-block;
    }

}

@media screen and (max-width: 594px) {
    .contact-details {
        flex-direction: column;
    }
}

/* Footer section */
footer {
    background-color: var(--white);
}

footer p {
    text-align: center;
    color: var(--black);
    font-size: 1rem;
    padding: 1rem;
}